.jumbotron-white {
	background-color: #fff;
	height: 149px;
	margin-bottom: 0px;
	overflow-y: scroll;
	padding-top: 32px;
	padding-bottom: 32px;
}

.btn:hover {
	cursor: pointer;
}

.jumbotron {
	background-color: #F8F9FA;
	border: solid 1px #eee;
	padding: 32px;
}

.breadcrumb {
	background-color: #F8F9FA;
	border: solid 1px #eee;
}

.active > a {
	color: #868e96;
}

.card, .list-group-item {
	border: solid 1px #eee;
}

.btn-warning, .btn-warning:hover, .btn-danger, .btn-danger:hover {
	color: #fff;
}

.float-right {
	margin-top: 4px;
}

.list-group-item:hover {
	font-style: italic;
}

.form-control {
	border: solid 1px #eee;
}

.alert-success, .alert-primary, .alert-danger {
	margin-top: 1rem;
}

.alert-post, .alert-primary-get {
	/*margin-top: 0px;*/
}
